<h2>
    Programming Languages
</h2>
<div class="row" style='   display: flex;'>
    <div class="column" style="flex: 50%;">
        <p>
            Java(Professional, 2017 - Present)
        </p>
        <p>
            Android(Professional, 2018 - 2021)
        </p>
        <p>
            C, SQL, Bash Script, Verilog
        </p>
    </div>
    <div class="column" style="flex: 50%;">
        <p>
            Python(Professional, 2018 - Present)
        </p>
        <p>
            C++(Intermediate, 2017 - 2019)
        </p>
    </div>
</div>

<h2>
    Libraries
</h2>
<p>
    Tensorflow, Scikit-learn, OpenCV, Pandas, JavaFX, JUnit, FindBugs, Matplotlib
</p>

<h2>
    Softwares
</h2>
<p>
    LATEX, Arduino IDE, Visual Paradigm, Selenium IDE & WebDriver, Matlab, Proteus, STM32 CubeIDE
</p>

<h2>
    Other Skills
</h2>
<p>
    Scrum, Git, Trello
</p>